In [3]:
import pandas as pd
wd = '/Users/timvigers/Documents/Work/Viral Shah/Day and Night CGM/'

In [63]:
# Import data
df = pd.read_csv(wd+'Data_Clean/analysis_data.csv',usecols=['HbA1c','14 Day TIR','14 Night TIR'])
df.columns = ['a1c','day_tir','night_tir']
# Get row with most sensor values for each person in JDRF data
jdrf = pd.read_csv(wd+'Data_Clean/analysis_data_jdrf.csv')
idx = jdrf.groupby('id',sort=False)['sensor_readings'].transform(max) == jdrf['sensor_readings']
jdrf = jdrf[idx]
idx = jdrf["sensor_readings"] >= 2822
jdrf = jdrf[idx]
# Combine
jdrf = jdrf[['a1c','day_tir','night_tir']]
df = pd.concat([df,jdrf])

# Data Characteristics
- TIR was calculated using 2 weeks of CGM data prior to an office visit.
- For participants with multiple HbA1c measures, the CGM wear with the largest number of sensor readings was used. This was done to prevent auto-correlation between measures within a subject.
- CGM with < 70% wear were excluded.

     a1c    day_tir  night_tir
0    6.4  75.945753  29.937998
1    7.5  68.664260  68.452381
2    5.4  69.486623  65.434381
3    7.4  56.577086  47.534014
4    7.6  45.297918  34.582624
..   ...        ...        ...
247  7.7  64.480000  56.510000
250  8.2  51.510000  36.630000
254  7.2  48.030000  42.770000
255  6.2  63.710000  53.970000
259  9.3  20.920000  26.010000

[332 rows x 3 columns]